body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-jost: Jost;
  --font-dm-serif-display: "DM Serif Display";
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-lgi: 19px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-66xl: 85px;
  --font-size-16xl: 35px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-101xl: 120px;
  --font-size-29xl: 48px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-100: #5c6169;
  --color-dimgray: #4d5053;
  --color-darkslategray: #292f36;
  --color-burlywood: #cda274;
  --color-whitesmoke: #f4f0ec;
  --color-black: #000;
  --color-sienna: #997042;
  --color-gainsboro-100: #e7e7e7;
  --color-gainsboro-200: #e5e5e5;
  --color-lightgray: #dbd6d4;

  /* Gaps */
  --gap-3xl: 22px;
  --gap-25xl: 44px;
  --gap-xl: 20px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-7xl: 26px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-lg: 18px;
  --gap-3xs: 10px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-2xs: 11px;
  --gap-4xl: 23px;
  --gap-9xl: 28px;
  --gap-6xl: 25px;
  --gap-33xl: 52px;
  --gap-lgi: 19px;
  --gap-18xl: 37px;
  --gap-26xl: 45px;
  --gap-14xl: 33px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-2xl: 21px;
  --gap-4xs: 9px;
  --gap-82xl: 101px;
  --gap-35xl: 54px;
  --gap-380xl: 399px;
  --gap-36xl: 55px;
  --gap-39xl: 58px;
  --gap-31xl: 50px;
  --gap-20xl: 39px;
  --gap-28xl: 47px;
  --gap-22xl: 41px;
  --gap-21xl: 40px;
  --gap-29xl: 48px;
  --gap-42xl: 61px;
  --gap-5xl: 24px;
  --gap-9xs: 4px;
  --gap-137xl: 156px;
  --gap-59xl: 78px;
  --gap-10xl: 29px;
  --gap-23xl-7: 42.7px;
  --gap-24xl-3: 43.3px;
  --gap-93xl: 112px;
  --gap-32xl: 51px;
  --gap-15xl: 34px;
  --gap-8xl: 27px;
  --gap-81xl: 100px;
  --gap-51xl: 70px;
  --gap-47xl: 66px;
  --gap-xs: 12px;
  --gap-smi: 13px;
  --gap-78xl: 97px;
  --gap-43xl: 62px;
  --gap-7xs-5: 5.5px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-smi: 13px;
  --padding-57xl: 76px;
  --padding-68xl: 87px;
  --padding-xl: 20px;
  --padding-156xl: 175px;
  --padding-2xl: 21px;
  --padding-5xs: 8px;
  --padding-mini: 15px;
  --padding-33xl: 52px;
  --padding-7xl: 26px;
  --padding-10xs: 3px;
  --padding-8xs: 5px;
  --padding-69xl: 88px;
  --padding-5xl: 24px;
  --padding-38xl: 57px;
  --padding-14xl: 33px;
  --padding-9xl: 28px;
  --padding-4xs: 9px;
  --padding-12xl: 31px;
  --padding-29xl: 48px;
  --padding-smi-5: 12.5px;
  --padding-19xl: 38px;
  --padding-xs: 12px;
  --padding-22xl: 41px;
  --padding-35xl: 54px;
  --padding-13xl: 32px;
  --padding-46xl: 65px;
  --padding-49xl: 68px;
  --padding-45xl: 64px;
  --padding-47xl: 66px;
  --padding-25xl: 44px;
  --padding-6xl: 25px;
  --padding-3xl: 22px;
  --padding-86xl: 105px;
  --padding-85xl: 104px;
  --padding-10xl: 29px;
  --padding-159xl: 178px;
  --padding-97xl: 116px;
  --padding-34xl: 53px;
  --padding-11xs: 2px;
  --padding-42xl: 61px;
  --padding-21xl: 40px;
  --padding-17xl: 36px;
  --padding-13xl-7: 32.7px;
  --padding-4xl: 23px;
  --padding-lgi: 19px;
  --padding-77xl: 96px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-20xl-3: 39.3px;
  --padding-11xl: 30px;
  --padding-7xs: 6px;

  /* Border radiuses */
  --br-51xl: 70px;
  --br-lg: 18px;
  --br-18xl: 37px;
  --br-14xl: 33px;
  --br-43xl: 62px;
  --br-3xs: 10px;
  --br-xl: 20px;
}
